*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

body{
   background-color: #36393f;
}

body::-webkit-scrollbar {
  width: 14px;
  position: absolute;
}

body::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track-piece {
  background-clip: padding-box;
  border: 2.5px solid #36393f;
  border-radius: 7px;
  background-clip: padding-box;
}

body::-webkit-scrollbar-thumb {
  background-color: #181a1c;
}

body::-webkit-scrollbar-track-piece {
  background-color: rgba(0, 0, 0, 0.25);
}

.wrapper{
  display: flex;
  position: relative;
  height: 100%;
}

.wrapper .sidebar{
  width: 50px;
  height: 100%;
  background: #019875;
  padding: 30px 0px;
  position: fixed;
}

.wrapper .sidebar ul li a{
  padding: 15px;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(255,255,255,0.05);
  color: #02241d;
  display: block;
}

.wrapper .sidebar ul a:hover{
  background-color: #02241d;
  color: #019875;
}

.wrapper .main{
  width: 100%;
  height: 100%;
  padding-left: 50px;
}

.wrapper .chat{
  width: 100%;
  height: 90%;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #dcddde;
}

.wrapper .chat .message {
  padding-right: 10px;
  padding-left: 10px;
}

.wrapper .chat .message .content{
  margin-top: 4px;
  font-size: 0.9375rem;
  word-wrap: break-word;
}

.wrapper .chat .message .username {
  color: #ffffff;
  font-size: 1.3rem;
}

.wrapper .chat .message .username .timestamp {
  color: hsla(0, 0%, 100%, 0.2);
  font-size: 0.75rem;
  font-weight: 400;
  letter-spacing: 0;
  margin-left: 0.3rem;
}

.wrapper .chat .divider {
  border: none;
  border-bottom: 1px solid transparent;
  margin: 10px 0px 10px;
  border-bottom-color: hsla(0, 0%, 100%, 0.04);
}

.wrapper .box {
  position: fixed;
  bottom: 0;
  width: calc(100% - 50px);
  background-color: #36393f;
  padding: 0.5rem;
  border-top: 1px solid #23262a;
}

.wrapper .box input {
  width: calc(100% - 24px);
  border: 1px solid #23262a;
  background: #36393f;
  padding: 0.5rem;
  color: hsla(0,0%,100%,.7);
  font-size: 12px;
}

.wrapper .box img {
  float: right;
  cursor: pointer;
}

.wrapper .head {
  position: fixed;
  top: 0;
  width: calc(100% - 50px);
  background-color: #36393f;
  padding: 0.5rem;
  border-bottom: 1px solid #23262a;
  color: #dcddde;
}

.wrapper .people{
  padding-left: 1rem;
  width: 100%;
  height: 100%;
  background: #36393f;
  padding: 30px 0px;
}

.wrapper .people ul li a{
  padding: 15px;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(255,255,255,0.05);
  color: #02241d;
  display: block;
}

.wrapper .people ul a:hover{
  background-color: #02241d;
  color: #019875;
}

.little {
  color: hsla(0, 0%, 100%, 0.2);
  font-size: 0.75rem;
  font-weight: 400;
  letter-spacing: 0;
  margin-left: 0.3rem;
  color: #dcddde;
  word-wrap: break-word;
}

.wrapper .import {
  position: fixed;
  top: 50%;
  left: 25%;
  width: 10%;
  width: 50%;
  background-color: #36393f;
  padding: 0.5rem;
}

.wrapper .import input {
  width: 100%;
  border: 1px solid #23262a;
  background: #36393f;
  padding: 0.5rem;
  color: hsla(0,0%,100%,.7);
  font-size: 12px;
}

.wrapper .import hr {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  visibility: hidden;
}

.export {
  display: flex;
  justify-content: center;
  color: #dcddde;
}

.export_head {
  margin: 2%;
  display: flex;
  justify-content: center;
  color: #dcddde;
}

.alert {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 20px;
  background-color: #f44336;
  color: white;
}

.warning {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 20px;
  background-color: #ff9800;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

.button{
  width: 220px;
  height: 50px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: #019875 no-repeat center center;
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  border: 0;
  padding: 15px 20px;
  border-radius: 50px;
  outline: 0;
}

.button_message{
  width: 110px;
  height: 25px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: #019875;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  border: 0;
  border-radius: 50px;
  outline: 0;
}

.label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.label-text {
  margin-left: 8px;
}

.toggle {
  isolation: isolate;
  position: relative;
  height: 24px;
  width: 48px;
  border-radius: 15px;
  background: #d6d6d6;
  overflow: hidden;
}

.toggle-inner {
  z-index: 2;
  position: absolute;
  top: 1px;
  left: 1px;
  height: 22px;
  width: 46px;
  border-radius: 15px;
  overflow: hidden;
}

.active-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 200%;
  background: #019875;
  transform: translate3d(-100%, 0, 0);
  transition: transform 0.05s linear 0.17s;
}

.toggle-state {
  display: none;
}

.indicator {
  height: 100%;
  width: 200%;
  background: white;
  border-radius: 13px;
  transform: translate3d(-75%, 0, 0);
  transition: transform 0.35s cubic-bezier(0.85, 0.05, 0.18, 1.35);
}

.toggle-state:checked ~ .active-bg {
   transform: translate3d(-50%, 0, 0);
}

.toggle-state:checked ~ .toggle-inner .indicator {
   transform: translate3d(25%, 0, 0);
}

.togdiv {
  position: relative;
  float: right;
}
